.red-font {
    color: #040404;
    text-align: center;
}
.contenedor {
    display: flex;
    justify-content: center;
    
}
.imagen{
    width: 250px;
    margin-right: 50px;
    border-style: groove;
}
.linka {
        justify-content: left;
}


